.local-box {
  margin-left: 20px;
}

.local-cod-label {
  margin-top: 20px;
  margin-left: 20px;
}

.local-cod-input {
  margin-top: 40px;
}

.local-name-label {
  margin-top: 90px;
}

.local-name-input {
  margin-top: 110px;
}

.local-predio-label {
  margin-top: 165px;
}

.local-predio-input {
  margin-top: 185px;
}

.local-cad-button {
  margin-top: 240px;
  margin-left: 85px;
  transition: transform;
}

.local-cad-button:hover {
  transform: translateY(10px);
}
