@media only screen and (max-width: 769px) {
  .op1 {
    margin-top: 20px;
    margin-left: 55px;
  }

  .op2 {
    margin-top: 180px;
    margin-left: 55px;
  }

  .op3 {
    margin-top: 340px;
    margin-left: 55px;
  }

  .op4 {
    margin-top: 500px;
    margin-left: 55px;
  }
  .op5 {
    margin-top: 660px;
    margin-left: 55px;
  }

  .op6 {
    margin-top: 820px;
    margin-left: 55px;
  }

  .op7 {
    margin-top: 980px;
    margin-left: 55px;
  }

  .op8 {
    margin-top: 1140px;
    margin-left: 55px;
  }

  .op9 {
    margin-top: 1300px;
    margin-left: 55px;
  }

  .op10 {
    margin-top: 1460px;
    margin-left: 55px;
  }

  .op11 {
    margin-top: 1620px;
    margin-left: 55px;
  }
}
