
  .item-id{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fff;
  }

  .item-manf{
    margin-top: 30px;
    margin-left: 20px;
  }

  .item-manf-input{
    margin-top: 50px;
    padding: 10px;
    background-color: #fff;
  }

  .item-mod{
    margin-top: 110px;
    margin-left: 20px;
  }

  .item-mod-input{
    margin-top: 130px;
    padding: 10px;
    background-color: #fff;
  }

  .item-loc{
    margin-top: 180px;
    margin-left: 20px;
  }

  .item-loc-input{
    margin-top: 210px;
    padding: 10px;
    background-color: #fff;
  }

  .item-area{
    margin-top: 260px;
    margin-left: 20px;
  }

  .item-area-input{
    margin-top: 290px;
    padding: 10px;
    background-color: #fff;
  }

  .item-qtd {
    margin-top: 340px;
    margin-left: 20px;
  }

  .item-qtd-input{
    margin-top: 360px; 
    padding: 10px;
    background-color: #fff;
  }
