.area-cad-box {
  margin-top: 10px;
  margin-left: 20px;
}

.predio-cod-label {
  margin-top: 20px;
}

.predio-cod-input {
  margin-top: 40px;
}

.predio-name-label {
  margin-top: 100px;
}

.predio-name-input {
  margin-top: 130px;
}

.area-cad-button {
  margin-top: 195px;
  margin-left: 85px;
  transition: transform;
}

.area-cad-button:hover {
  transform: scale(1.1);
}
