.area-cad-box{
  margin-top: 10px;
  margin-left: 20px;
}

.area-cad-label{
  margin-top: 20px;
}

.area-cad-input{
  margin-top: 40px;
}

.area-cad-button{
  margin-top: 110px;
  margin-left: 85px;
  transition: transform;
}

.area-cad-button:hover{
  transform: translateY(20px);
}