@media only screen and (max-width: 769px){
  .sigin-form{
    position: absolute;  
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    background: #eee;
    background-image: linear-gradient(to bottom, #49c7fe, #008cc9, #01628c);
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 0.25px rgba(0, 0, 0, 0.2);
  }
  
  .sigin-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
  
    margin-top: 30px;
    margin-left: 10px;
  
  }
  
  .sigin-input{
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
  
    border: none;
    background: #fff;
    height: 60px;
    width: 380px;
    border-radius: 5px;
  }
  
  .sigin-check{
    margin-top: 25px;
    margin-left: 10px;
  
  }
  
  .sigin-box{
    font-size: 15px;
    font-family: 'Popins', sans-serif;
    opacity: 0.7;
  }
  
  .sigin-button{
    border: none;
    background: #009add;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    height: 50px;
    width: 140px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 130px;
  }
  
  .sigin-button:hover {
    transition: 0.4s ease-out;
    background: #fff;
  }
  
  .errormsg{
    position: absolute;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 25px;  
  
    margin-top: 110px;
    margin-left: 120px;

  }
}